/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.colorFundo{
	background-color: #FFFFFF;
	width: 100vw;
}

.conteiner {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	min-height: 100vh;
	background-color: #FFFFFF;
	max-width: 1000px;
}


.linhaHeader{
	border-bottom: 1mm ridge rgba(0, 0, 0, 0.1);
	position: absolute;
	z-index: 1px;
	left: 0;
	right: 0;
	top: 125px;
}

.conteinerPrincipal{
	padding: 10px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	max-width: 400px;
}

.conteinerPrincipal > section {
	flex-direction: column;
}

.title{
	font-size: 1rem;
    font-weight: 700;
    line-height: 1.9rem;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 20px;
	color: #212529;
}

.conteinerFinanceiro{
	display: flex;
	flex-direction:column-reverse;
	gap: 30px;
    width: 100%;
	max-width: 400px;
}

@media (min-width:900px) {
	.conteinerPrincipal{
		flex-direction: row;
		gap: 50px;
		width: 100%;
		max-width: 1000px;
		margin: 0 auto;
		justify-content: center;
	}
	.conteinerFinanceiro{
		min-width: 100%;
		width: 600px;
	}
}